{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h2 class="text-center mb-4">Crear Cuenta Nueva</h2>
            
            <form method="post">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-success w-100 mt-3">Registrarme</button>
            </form>

            <div class="text-center mt-3">
                <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Ingresa aquí</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}